@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

h1 {
  font-family: 'PT Serif', serif;
  font-size: 40px;
}

a {
  color: #9C5A78;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline-block;
  padding-right: 20px;
  font-family: 'Rubik', sans-serif;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

nav a:hover{
  color: #FFA198;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus {
  top: 0;
}

*:focus {
  border: 2px solid black;
}

footer{
  background-color: #474747;
  color: white;
  grid-column: 1 / -1;
  grid-row: 4/5;
  padding-top: 30px;
  text-align: center;
}
